.all_item_Outer_div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 70px 0px 90px 100px;
  width: 85%;
  overflow: hidden;
  margin-bottom: 5px;
  height: 420px;
  /* overflow-y: auto; */

}
p{
  width: 350px;
  padding: 2px;
  /* border: 2px solid rgb(242, 10, 10); */
  margin: auto;
}
.same_text_class{
  /* border: 2px solid black; */
  height: 400px;
    overflow-y: auto;

}
.same_text_class span {
  margin: 8px;
  color: black;
  font-weight: bold;
}
.source_code {
  /* border: 2px solid rgb(8, 27, 238); */
  text-align: left;
  margin-top: 10px;
}
.source_code span {
  margin: 20px;
  padding-left: 45px;
}

.parent_header {
  margin-left: 200px;
}

.same_img_class {
  margin-top: 15px;
  height: 200px;
  width: 300px;
  border: 0.5px solid rgb(175, 170, 170);
  border-radius: 5%;
  margin-right: 15px;
  position: relative;
}



.first_Project {
  color: red;
  /* background-color: green; */
}


@keyframes Animation_odd_img {
  0% {
    left: -1000px;
    scrollbar-width: none;
  }
  100% {
    left: 10px;
    scrollbar-width: none;
  }
}

.odd_Animation_img {
  animation: Animation_odd_img 0.5s linear;
  /* border: 2px solid black; */
  display: flex;
  position: relative;
  left: 10px;
}



@keyframes Animation_odd_text {
  0% {
    right: -1000px;
    scrollbar-width: none;
  }
  100% {
    right: 10px;
    scrollbar-width: none;
  }
}

.odd_Animation_text {
  animation: Animation_odd_text 0.5s linear;
  height: 300px;
  width: 400px;
  margin-left: 17px;
  text-align: center;
  margin-right: 20px;
  position: relative;
}


@keyframes Animation_even_img {
  0% {
    right: -1000px;
    scrollbar-width: none;
  }
  100% {
    right: -10px;
    scrollbar-width: none;
  }
}

.even_Animation_img {
  animation: Animation_even_img 0.5s linear;
  display: flex;
  position: relative;
}

@keyframes Animation_even_text {
  0% {
    left: -1000px;
    scrollbar-width: none;
  }
  100% {
    left: 10px;
    scrollbar-width: none;
  }
}
.even_Animation_text {
  animation: Animation_even_text 0.5s linear;
  height: 300px;
  width: 400px;
  text-align: center;
  position: relative;
}

